---
export const prerender = false;

import MainLayout from '../layouts/MainLayout.astro';
import Envelope from '../images/envelope.svg';
import Mobile from '../images/mobile.svg';
import Input from '../components/Input.astro';
import TextArea from '../components/TextArea.astro';
import { Image } from 'astro:assets';
import nodemailer from 'nodemailer';

let sentSuccessfully = false;

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    const name = data.get('name');
    const email = data.get('email');
    const message = data.get('message');
    const transporter = nodemailer.createTransport({
      service: 'gmail',
      auth: {
        user: import.meta.env.APP_GMAIL_EMAIL,
        pass: import.meta.env.APP_GMAIL_PASSWORD,
      },
    });

    if (!name || !email || !message) {
      return new Response(
        JSON.stringify({
          message: 'Missing required fields',
        }),
        { status: 400 }
      );
    }
    // Do something with the data, then return a success response
    const responseSent = await transporter.sendMail({
      from: 'info@michaelduren.com',
      to: 'michaeld@michaelduren.com',
      subject: `WEBSITE: MESSAGE FROM ${name}`,
      html: `
		<h1>${name}: ${email}</h1>
		<h2>Message:</h2>
		<p>${message}</p>
		`,
    });

    if (responseSent.accepted.length > 0) {
      sentSuccessfully = true;
    } else {
      return (
        new Response({
          message: JSON.stringify('Error sending message'),
        }),
        { status: 500 }
      );
    }
  } catch (error) {
    console.error(error);
  }
}
---

<MainLayout title="Michael Duren - Contact">
  <div class="flex gap-2 md:gap-3 lg:gap-4 flex-col w-full">
    <div class="">
      <h2 class="font-bold text-2xl md:text-4xl">Contact</h2>
    </div>
    <div class="flex flex-col md:flex-row gap-8">
      <div
        class:list={[
          'flex flex-1 flex-col justify-between order-2 md:order-1',
          { hidden: !sentSuccessfully },
        ]}
      >
        <div class="flex flex-col gap-8">
          <h2 class="text-2xl text-blue-700 font-semibold"
            >Successfuly sent! 🎉</h2
          >
          <p class="font-semibold text-gray-600 md:text-lg text-base">
            Thanks for contacting me.</p
          >
          <p class="font-semibold text-gray-600 md:text-lg text-base">
            I'll get back to you within 24 hours. I look forward to hearing more
            about your project or business. Thanks!
          </p>
        </div>
        <a class="w-full flex" data-astro-reload href="/contact">
          <button class="btn flex-1 btn-neutral mt-8"> Send Another</button>
        </a>
      </div>
      <form
        class:list={[
          'flex flex-1 flex-col justify-between order-2 md:order-1',
          { hidden: sentSuccessfully },
        ]}
        method="post"
      >
        <div>
          <Input name="name" type="text" required={true} label="Name" />
          <Input name="email" type="email" required={true} label="Email" />
          <TextArea name="message" required={true} label="Message" />
        </div>
        <button class="btn btn-neutral mt-8">Submit</button>
      </form>
      <div class="flex w-full items-center flex-col flex-1 order-1 md:order-2">
        <div class="w-full flex flex-col gap-4">
          <h2
            class="text-lg md:mb-8 sm:text-xl md:text-2xl lg:text-3xl text-purple-700 font-bold"
            >I'd love to hear from you</h2
          >
          <p class="font-semibold text-gray-600 md:text-base text-sm"
            >Let me know how I can contribute to your organization</p
          >
          <p class="font-semibold text-gray-600 md:text-base text-sm">
            I help business find <span class="text-purple-700 font-bold"
              >solutions</span
            >
          </p>
          <p class="font-semibold text-gray-600 md:text-base text-sm">
            Specializing in JavaScript, Typescript, C#, and .NET, I'm an avid
            debugger and problem-solver with excellent communication skills and
            a knack for collaboration.
          </p>
        </div>
        <div
          class="flex mt-8 md:mt-16 h-24 gap-x-20 md:gap-x-0 justify-center md:justify-around items-center w-full"
        >
          <Image
            class="h-16 w-24 md:w-32 md:h-32 aspect-square"
            src={Envelope}
            alt="Envelope"
          />
          <Image
            class="h-28 w-28 aspect-square md:h-32 md:w-32"
            src={Mobile}
            alt="Mobile"
          />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
