---
import { Image } from 'astro:assets';
import type { PortfolioItem } from '../types/portfolio-item';
interface Props {
  portfolioItem: PortfolioItem;
}

const { portfolioItem } = Astro.props;
const { title, description, websiteLink, codeLink, images } = portfolioItem;
---

<div
  class="shadow-xl relative h-full min-h-[30rem] rounded-lg flex-col flex items-center"
>
  <!-- carousel -->
  <custom-carousel
    aria-label={`${title} photos`}
    data-title={title}
    data-carousel
    class="relative h-full w-full"
  >
    <ul data-slides>
      {
        images.map((image, i) => {
          return (
            <li
              class="absolute slide shadow-lg opacity-0 inset-0 transition-opacity delay-300 duration-300"
              data-active
            >
              <Image
                class="object-cover rounded-xl object-center block h-full"
                id={`item${i + 1}-${title}`}
                src={image}
                alt={`${title} image #${i + 1}`}
              />
            </li>
          );
        })
      }
    </ul>
  </custom-carousel>

  <div
    class="absolute hidden hover:visible text-white border-2 top-0 left-0 z-50 bg-white bg-opacity-10"
  >
    <h2 class="text-2xl font-semibold">{title}</h2>
    <p>{description}</p>
    <div><a href={websiteLink}>View</a></div>
    <div><a href={codeLink}>Code</a></div>
  </div>
</div>

<style>
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
</style>

<script>
  import '../scripts/carousel.ts';
</script>
